<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="/js/doraemon.js"></script>
    <title>Exhibit</title>
  </head>
  <body>
    <div class="homepage">
      <header>
        <div class="welcome">WELCOME</div>
        <nav>
          <ul>
            <li>to</li>
            <li>my</li>
            <li>project !</li>
          </ul>
          <ul class="display-in-table">
            <li>Made</li>
            <li>by</li>
            <li>Dona.</li>
          </ul>
        </nav>
      </header>
      <section>
        <div id="description" class="display-in-table"></div>
        <div id="demo"></div>
        <div id="compass">
          <img src="/img/Doraemon.png" onclick="goDoraemon()" />
          <!-- <span class="iconify" data-icon="clarity:compass-solid"></span> -->
          <p>Doraemon</p>
        </div>
      </section>
      <footer>
        <div class="dock">
          <div onclick="demo(1)">
            <img src="/img/first.png" alt="" />
          </div>
          <div onclick="demo(2)">
            <img src="/img/second.png" alt="" />
          </div>
          <div onclick="demo(3)">
            <img src="/img/third.png" alt="" />
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</html>
